.myContainer {
    max-width: 100%;
}
.grid-layout {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-gap: 10px; /*grind-colum-gap*/
}

[id*=ficha]{
    width: 10px;
}
.sidecontenedor {
    background-color: purple !important;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.modal-backdrop {
    z-index: -1;
  }
  
.tablero {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding: 5%;
}

.tabla div{
    background-color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.tabla {
    display: grid;
    grid-gap: 10px; /*grind-colum-gap*/
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    text-align: center;
}
/* 
.tabla div#1{

} */


.tabla div#21, .tabla div#43{
    border-radius: 50px 0px 0px 0px
}


/* .tabla:nth-child(7n) {
    border-radius: 50px 0px 0px 0px
} */
